<!DOCTYPE html>
<html lang="pt-br" ng-app="codeLabApp" ng-controller="bodyController">
<head>
    <!--        Guarda endereço padrão dos arquivos para ser usado com URLs relativas
        <base href="<?php echo SITE_URL; ?>" target="_self"/>
    -->
    <meta charset="utf-8">
    <title>{{ appName }}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--<link rel="icon" type="image/png" href="favicon.ico" />-->
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="js/datatables/css/jquery.dataTables.min.css" media="screen">
    <link rel="stylesheet" href="js/datatables/css/dataTables.bootstrap.css" media="screen">
    <link rel="stylesheet" href="js/datatables/css/dataTables.responsive.css" media="screen">

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="menu">
<!-- top-bar start -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button class="slide-bar-toggle" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand"><i class="fa fa-code"></i> {{ appName }} </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <i class="fa  fa-angle-double-down"></i>

            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Projetos <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href=""><small>Menu</small></a></li>
                        <li class="divider"></li>
                        <li><a href="#/list">Projetos</a></li>
                        <li><a href="#/form/novo">Novo Projeto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#/">Sobre</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                <li><a href="http://bootswatch.com/flatly" target="_blank">Help</a></li>
                <li>
                <!--
                <li>
                    <a><i class="glyphicon glyphicon-user"></i>
                        <span><?php //echo(Session::exists('nome_usuario') ? Session::get('nome_usuario') : 'Usuário'); ?></span></a>

                </li>
                -->
            </ul>

        </div>
    </div>
</div>
<!-- top-bar end -->

<!--         <button class="slide-bar-toggle" type="button" style="position: absolute;top:50px;">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>-->

<nav class="menu-side"><!-- side-bar start -->

    <ul class="sidebar-menu">
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cubes"></i>
                <span>Projetos</span>
                <i class="fa pull-right fa-angle-left"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="#/list"><i class="fa fa-angle-double-right"></i> Listar</a></li>
                <li><a href="#/form/novo"><i class="fa fa-angle-double-right"></i> Cadastrar</a></li>
            </ul>
        </li>
    </ul>


</nav>
<!-- side-bar end -->

<div class="container"><!-- container start -->
    
    <div ng-view></div>
    
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <small class="pull-right text-right">
                    <strong><i class="fa fa-code"></i> {{ appName }}</strong> - <a href="https://github.com/inshideru" rel="nofollow">Paulo Sorrentino</a> &copy;. Contato <a
                        href="mailto:paulo.sorrentino@outlook.com">paulo.sorrentino@outlook.com</a>
                    <br> Data Atual
                </small>
            </div>
        </div>
    </footer>

</div>
<!-- container end -->

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.mask.min.js"></script>
    
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-route.min.js"></script>
        <script src="js/angular/angular-resource.min.js"></script>
        <script src="js/angular/angular-messages.min.js"></script>

<script src="js/datatables/js/jquery.dataTables.js"></script>
<script src="js/datatables/js/dataTables.bootstrap.js"></script>
<script src="js/datatables/js/dataTables.responsive.min.js"></script>
<script src="js/angular/angular-datatables.min.js"></script>
    
<script src="js/accounting.min.js"></script>

<script src="js/custom.js"></script>
<script src="js/angular/app.js"></script>
    
<a id="toTop" href="#"><span id="toTopHover"></span><img width="50" height="50" alt="" src="img/to-top.png"></a>

</body>
</html>
