<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
<head>
    <!--        Guarda endereço padrão dos arquivos para ser usado com URLs relativas
    <base href="/" target="_self"/>
-->
    <meta charset="utf-8">
    <title>JS Lab</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--<link rel="icon" type="image/png" href="favicon.ico" />-->
        <link rel=stylesheet href="css/bootstrap.min.css"></link>
        <link rel=stylesheet href="css/font-awesome.min.css"></link>
        <link rel=stylesheet href="css/style.css"></link>

    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="menu">
<!-- top-bar start -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button class="slide-bar-toggle" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="Home" class="navbar-brand"><i class="fa fa-code"></i> JS Lab</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <i class="fa  fa-angle-double-down"></i>

            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Projetos <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#"><small>Menu</small></a></li>
                        <li class="divider"></li>
                        <li><a href="Projeto/">Projetos</a></li>
                        <li><a href="Projeto/formProjeto">Novo Projeto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Home/">Sobre</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                <li><a href="http://bootswatch.com/flatly" target="_blank">Help</a></li>
                <li>
            </ul>

        </div>
    </div>
</div>
<!-- top-bar end -->


<nav class="menu-side"><!-- side-bar start -->

    <ul class="sidebar-menu">
        <li>
            <a href="/Home">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cubes"></i>
                <span>Projetos</span>
                <i class="fa pull-right fa-angle-left"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="Projeto/"><i class="fa fa-angle-double-right"></i> Listar</a></li>
                <li><a href="Projeto/formProjeto"><i class="fa fa-angle-double-right"></i> Cadastrar</a></li>
            </ul>
        </li>
    </ul>


</nav>
<!-- side-bar end -->

<div class="container"><!-- container start -->

<div class="jumbotron" id="painel-welcome">
    <h2>Bem-vindo ao <i class="fa fa-code"></i> JS Lab</h2>

    <p class="lead">O fantástico laboratório de programação e desenvolvimento.</p>

</div>

<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-cubes"></i> Projetos</h2>

        <p>
            Cálculo automatizado de métricas para engenharia de projetos. Apenas informe os dados e deixe que o sistema
            armazene e calcule os valores e demais dados relevantes às métricas do projeto.
        </p>
        
        <div ng-controller="mainController">
            
            <h4>Hello, {{name}}</h4>
            <div>
                <label> What is your twitter handle?</label>
                <input type="text" ng-model="handle"/>
                
            </div>
            
            <div class="alert" ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters}" ng-show="handle.length !== characters">
                
                <div ng-show="handle.length < characters">
                    Yout have less than 5 characters!
                </div>
                <div ng-show="handle.length > characters">
                    Yout have more than 5 characters!
                </div>
            </div>
            <hr />
                
            <h3>Twitter.com/{{ lowercasehandle() }}</h3>
            
            <h3> Rules</h3>
            <ul>
                <li ng-repeat="rule in rules">
                    {{ rule.nome_projeto }}
                </li>
            </ul>
            
            <input type="button" value="Click me" ng-click="alertClick()" />
            
            <div ng-cloak> {{ name }}</div>
        
        </div>

        <p><a href="Projeto" class="btn btn-primary" href="#" role="button">Acesse &raquo;</a></p>
    </div>
    
</div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <small class="pull-right text-right">
                    <strong><i class="fa fa-code"></i> JS Lab</strong> - <a href="https://github.com/inshideru" rel="nofollow">Paulo Sorrentino</a> &copy;. Contato <a
                        href="mailto:inshideru@gmail.com">inshideru@gmail.com</a>
                    <br>
                </small>
            </div>
        </div>
    </footer>

</div>
<!-- container end -->

        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/app.js"></script>

<a id="toTop" href="#"><span id="toTopHover"></span><img width="50" height="50" alt="" src="img/to-top.png"></a>

</body>
</html>
