<div>
<div class="page-header">
    <h3>
        <small>{{ projeto.tipo_sistema }}</small>
        <br><i class="fa fa-cube"></i>{{ projeto.nome_projeto }}

    </h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h4><i class="fa fa-file-text"></i> Resumo</h4>

        <div class="table-responsive">
            <table id="projectresumo" class="table table-striped table-responsive table-hover">
                <tbody>
                <tr>
                <td><strong>Nome</strong></td><td>{{ projeto.nome_projeto }}</td>
                </tr>
                <tr>
                <td><strong>Tipo</strong></td><td>{{ projeto.tipo_sistema }}</td>
                </tr>
                <tr>
                <td><strong>Linguagem</strong></td><td>{{ projeto.nome_linguagem }}</td>
                </tr>
                <tr>
                <td><strong>Valor Hora</strong></td><td>{{ projeto.valor_hora }}</td>
                </tr>
                <tr>
                <td><strong>Custo Total</strong></td><td>{{ projeto.custo_projeto }}</td>
                </tr>
                <tr>
                <td><strong>Tempo Total</strong></td><td>{{ projeto.tempo_necessario }}</td>
                </tr>
                </tbody>
            </table>

            <div class="btn-group btn-group-justified">
                <a href="#/list" class="btn btn-info btn-sm" title="Ver lista"><i class="fa fa-list"></i> Lista</a>
                <a href="#/form/{{ projeto.id_projeto }}" class="btn btn-sm btn-success" title="Atualizar">
                    <i class="fa fa-edit"></i> Editar</a>
                <a href="#/delete/{{ projeto.id_projeto }}" class="btn btn-sm btn-warning" title="Apagar">
                    <i class="fa fa-trash"></i> Apagar</a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-target="#detalhes" data-toggle="tab" aria-expanded="false" ng-click="">Detalhes</a></li>
            <li class=""><a href="#profile" onclick="return false;" data-toggle="tab" aria-expanded="true">Pontos de Função</a></li>
            <!--<li class=""><a href="#debug" data-toggle="tab" aria-expanded="true">Debug</a></li>-->
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="detalhes">
                <h4><i class="fa fa-arrow-right"></i> Detalhes</h4>

                <p>

                <div class="table-responsive">
                    <table id="projectdetalhes" class="table table-striped table-responsive table-hover">
                        <tbody>
                        <tr>
                        <td><strong>Código</strong></td><td>{{ projeto.id_projeto }}</td>
                        </tr>
                        <tr>
                        <td><strong>Modelo</strong></td><td>{{ projeto.modelo }}</td>
                        </tr>
                        <tr>
                        <td><strong>Nível de Influência</strong></td><td>{{ projeto.nivel_influencia }}</td>
                        </tr>
                        <tr>
                        <td><strong>{{ projeto.nome_linguagem }} - linhas por ponto função</strong></td><td>{{ projeto.linguagem_linhas_por_funcao }}</td>
                        </tr>
                        <tr>
                        <td><strong>Tempo Total em Horas</strong></td><td>{{ projeto.horas_totais_projeto }}</td>
                        </tr>
                        <tr>
                        <tr>
                        <td><strong>Pontos de Função</strong></td><td>{{ projeto.fp_bruto }}</td>
                        </tr>
                        <tr>
                        <td><strong>Fator de Ajuste</strong></td><td>{{ projeto.fator_ajuste }}</td>
                        </tr>
                        <tr>
                        <td><strong>FP\'b {{ projeto.fp_bruto }} x {{ projeto.fator_ajuste }} FA = Base</strong></td><td>{{ projeto.base }}</td>
                        </tr>
                        <tr>
                        <td><strong>Tempo Bruto</strong></td><td>{{ projeto.tempo_bruto }}</td>
                        </tr>
                        <tr>
                        <td><strong>Custom Liguagem {{ projeto.nome_linguagem }} ({{ projeto.base }} x {{ projeto.linguagem_linhas_por_funcao }})</strong></td><td>{{ projeto.custo_linguagem }}</td>
                        </tr>
                        <tr>
                        <td><strong>{{ projeto.tipo_sistema }} produtividade</strong></td><td>{{ projeto.produtividade }}</td>
                        </tr>
                        <tr>
                        <td><strong>Tempo Total em Meses ({{ projeto.custo_linguagem }} / {{ projeto.produtividade }})</strong></td><td>{{ projeto.mes_percentual }}</td>
                        </tr>
                        
                        </tbody>
                    </table>
                </div>

                </p>
            </div>
            <div class="tab-pane fade" id="profile">
                <p>
                <table id="projectpontosfuncao" class="table table-responsive table-hover text-center">
                    <thead>
                    <tr class="bg-gray">
                        <th class="text-center">Função</th>
                        <th class="text-center">Nº de Ocorrências</th>
                        <th class="text-center">Complexidade</th>
                        <th class="text-center">Peso</th>
                        <th class="text-center">Resultado</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pf in pontos_funcao">
                            <td rowspan="3" ng-if="$index % 3 == 0"><strong>{{ pf.funcao }}</strong></td>
                            <td>{{ pf.nr_ocorrencias }}</td>
                            <td>{{ pf.nome_complexidade }}</td>
                            <td>{{ pf.peso }}</td>
                            <td>{{ pf.resultado }}</td>
                        </tr>
                            <tr class="bg-gray"><td colspan="5"></td></tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><strong>Total de<br>FP Bruto</strong></td>
                            <td><strong>{{ pontos_funcao['0'].fp_bruto }}</strong></td>
                        </tr>
                    </tbody>
                </table>
                </p>
            </div>
            <div class="tab-pane fade" id="debug">
                <h4><i class="fa fa-code"></i> Debug</h4>
                <small>

                </small>
            </div>
        </div>
    </div>

</div>
</div>