<div class="page-header">
    <h3>
        <small>Editando</small>
        <br><i class="fa fa-edit"></i> {{ projeto.nome_projeto }}

    </h3>
</div>

<div class="row">
    <div class="col-sm-8">

        <form name="form_projeto" id="form_projeto" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error has-feedback': form_projeto.nome_projeto.$invalid && form_projeto.nome_projeto.$touched }">
                    <label for="nome_projeto" class="col-sm-3 control-label">Nome</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="nome_projeto" name="nome_projeto"
                               ng-model="projeto.nome_projeto" ng-pattern="/^[0-9a-zA-ZéúíóáÉÚÍÓÁèùìòàçÇÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂëÿüïöäËYÜÏÖÄ\-\s]+$/" required>
                        <div class="help-block" ng-messages="form_projeto.nome_projeto.$error" ng-if="form_projeto.nome_projeto.$touched">
                            <i ng-show="form_projeto.nome_projeto.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                            <small ng-message="pattern">O nome do Projeto só pode conter letras, números e espaços.</small>
                            <small ng-message="required">Nome do Projeto é obrigatório.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': form_projeto.modelo.$invalid && form_projeto.modelo.$touched }">
                    <label for="modelo" class="col-sm-3 control-label">Modelo</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="modelo" name="modelo" placeholder="1,1,1,1,1"
                               ng-model="projeto.modelo" ng-pattern="/^[,0-9]+$/" required>
                        <div  class="help-block" ng-messages="form_projeto.modelo.$error" ng-if="form_projeto.modelo.$touched">
                            <i ng-show="form_projeto.modelo.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                            <small ng-message="pattern">Só pode conter números separados por vígula. Ex: 1,1,1,1</small>
                            <small ng-message="required">Informe o modelo</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6" ng-class="{ 'has-error has-feedback': form_projeto.nivel_influencia.$invalid && form_projeto.nivel_influencia.$touched }">
                            <label for="nivel_influencia" class="col-sm-5 control-label">Nível de Influência</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="nivel_influencia" name="nivel_influencia"
                                       ng-model="projeto.nivel_influencia" required>
                                <div  class="help-block" ng-messages="form_projeto.nivel_influencia.$error" ng-if="form_projeto.nivel_influencia.$touched">
                                    <i ng-show="form_projeto.nivel_influencia.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                                    <small ng-message="required">Informe o nível de influência. De 0 a 70.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-class="{ 'has-error has-feedback': form_projeto.valor_hora.$invalid && form_projeto.valor_hora.$touched }">
                            <label for="valor_hora" class="col-sm-5 control-label">Valor Hora</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="valor_hora" name="valor_hora"
                                       ng-model="projeto.valor_hora" required>
                                <div  class="help-block" ng-messages="form_projeto.valor_hora.$error" ng-if="form_projeto.valor_hora.$touched">
                                    <i ng-show="form_projeto.valor_hora.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                                    <small ng-message="required">Informe o valor hora.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6" ng-class="{ 'has-error has-feedback': form_projeto.id_linguagem.$invalid && form_projeto.id_linguagem.$touched }">
                            <label for="id_linguagem" class="col-sm-5 control-label">Linguagem</label>

                            <div class="col-sm-7 selectContainer">
                                <select ng-model="projeto.id_linguagem" class="form-control" id="id_linguagem" name="id_linguagem"
                                        ng-options="value.id_linguagem as value.nome_linguagem for (key, value) in linguagens" required>
                                    <option></option>
                                </select>
                                <div  class="help-block" ng-messages="form_projeto.id_linguagem.$error" ng-if="form_projeto.id_linguagem.$touched">
                                    <i ng-show="form_projeto.id_linguagem.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                                    <small ng-message="required">Informe a linguagem.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" ng-class="{ 'has-error has-feedback': form_projeto.id_tipo_sistema.$invalid && form_projeto.id_tipo_sistema.$touched }">
                            <label for="id_tipo_sistema" class="col-sm-5 control-label">Tipo de Sistema</label>

                            <div class="col-sm-7 selectContainer">
                                <select ng-model="projeto.id_tipo_sistema" class="form-control" id="id_tipo_sistema" name="id_tipo_sistema"
                                        ng-options="value.id_tipo_sistema as value.descricao for (key, value) in tipos_sistema" required>
                                    <option></option>
                                </select>
                                <div  class="help-block" ng-messages="form_projeto.id_tipo_sistema.$error" ng-if="form_projeto.id_tipo_sistema.$touched">
                                    <i ng-show="form_projeto.id_tipo_sistema.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></i>
                                    <small ng-message="required">Informe o tipo de sistema.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" ng-disabled="form_projeto.$invalid" ng-click="gravarProjeto()"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

    <div class="col-sm-4">
        <div class="btn-group btn-group-justified">
            <a href="#/list" class="btn btn-sm btn-info" title="Ver Lista">
                <i class="fa fa-list"></i> Lista</a>
            <a href="#/form/novo" class="btn btn-sm btn-primary" title="Novo Cadastro">
                <i class="fa fa-cube"></i> Novo</a>
                <a href="#/detail/{{ projeto.id_projeto }}" class="btn btn-sm btn-success"
                   title="Visualizar Projeto" ng-class="{disabled: projeto.id_projeto == ''}">
                    <i class="fa fa-eye"></i> Ver</a>
        </div>
<p>
        <div class="panel panel-default">
            <div class="panel-heading"><h4><i class="fa fa-question-circle"></i> Ajuda</h4></div>
            <div class="panel-body">
                <div class="alert alert-warning">Todos os campos são obrigatórios.</div>

               <strong>Modelo: </strong>Corresponde às tabelas do banco. Cada ítem separado por vírgula é uma tabela, e seu número indica a quantidade de colunas.
               <br><br>
               <strong>Nível de influência: </strong>O valor máximo é 70. Insira este valor caso o nível de influência não esteja sendo avaliado.

            </div>
        </div>

    </div>
</div>
