<div class="page-header">
    <h3>
        <small>Editando</small>
        <br><i class="fa fa-save"></i> {{ projeto.nome_projeto }}

    </h3>
</div>

<div class="row">
    <div class="col-md-8">

        <div class="alert alert-dismissible alert-success">
            <h4>Sucesso!</h4>
            <h3>{{ message }}</h3>
        </div>

    </div>
    
    <div class="col-sm-4">
        <div class="btn-group btn-group-justified">
            <a href="#/list" class="btn btn-sm btn-info" title="Ver Lista">
                <i class="fa fa-list"></i> Lista</a>
            <a href="#/form/novo" class="btn btn-sm btn-primary" title="Novo Cadastro">
                <i class="fa fa-cube"></i> Novo</a>
                <a href="#/detail/{{ projeto.id_projeto }}" class="btn btn-sm btn-success"
                   title="Visualizar Projeto" ng-class="{disabled: projeto.id_projeto == ''}">
                    <i class="fa fa-eye"></i> Ver</a>
        </div>
        <p>
        <div class="panel panel-default">
            <div class="panel-heading"><h4><i class="fa fa-question-circle"></i> Ajuda</h4></div>
            <div class="panel-body">
               <strong>Modelo: </strong>Corresponde às tabelas do banco. Cada ítem separado por vírgula é uma tabela, e seu número indica a quantidade de colunas.
               <br><br>
               <strong>Nível de influência: </strong>O valor máximo é 70. Insira este valor caso o nível de influência não esteja sendo avaliado.

            </div>
        </div>

    </div>

</div>