<div class="jumbotron" id="painel-welcome">
    <h2>Bem-vindo ao <i class="fa fa-code"></i> {{ appName }}</h2>

    <p class="lead">O fantástico laboratório de programação e desenvolvimento.</p>

</div>
<div class="row" ng-controller="homeController">
    <div class="col-lg-4">
        <h2><i class="fa fa-cubes"></i> Projetos</h2>

        <p>
            Cálculo automatizado de métricas para engenharia de projetos. Apenas informe os dados e deixe que o sistema
            armazene e calcule os valores e demais dados relevantes às métricas do projeto.
        </p>

        <p><a href="#/list" class="btn btn-primary" href="#" role="button">Acesse &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2><i class="fa fa-android"></i> Algum App</h2>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            É isso mesmo que você acabou de ler. </p>

        <p><a class="btn btn-primary" href="#" role="button">Detalhes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2><i class="fa fa-github-square"></i> Algum Repositório</h2>

        <p>Enchendo linguiça. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa.</p>

        <p><a class="btn btn-primary" href="#" role="button">Detalhes &raquo;</a></p>
    </div>
</div>
