<div class="page-header">
    <div class="btn-group pull-right">
        <a href="#/form/novo" class="btn btn-sm btn-primary" title="Novo Projeto">
            <i class="fa fa-save"></i> Novo Projeto</a>
    </div>
    <h3>
        <small>Métricas</small>
        <br><i class="fa fa-cubes"></i> Projetos

    </h3>
</div>
<div class="row">
    <div class="col-md-12">

            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-responsive table-hover">
                <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Projeto</th>
                    <th>Tipo</th>
                    <th>Linguagem</th>
                    <th>Custo</th>
                    <th>Tempo</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="projeto in projetos" data-projeto="{$projeto['id_projeto']}">
                    <td>{{ projeto.id_projeto }}</td>
                    <td><a href="#/detail/{{ projeto.id_projeto }}" >{{ projeto.nome_projeto }}</a></td>
                    <td>{{ projeto.tipo_sistema }}</td>
                    <td>{{ projeto.nome_linguagem }}</td>
                    <td>{{ projeto.custo_projeto }}</td>
                    <td>{{ projeto.tempo_necessario }}</td>
                    <td>
                            <a href="#/form/{{ projeto.id_projeto }}" class="btn btn-sm btn-success" title="Atualizar"><i class="fa fa-edit"></i></a>
                            <a href="#/delete/{{ projeto.id_projeto }}" class="btn btn-sm btn-warning"><i class="fa fa-trash"></i></a>
                         </td>
                    </tr>
                </tbody>
            </table>

    </div>
</div>
